<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nir" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="ReGo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NIR"
        tools:targetApi="31" >
        <activity
            android:name=".MapPage"
            android:exported="false" />

        <activity
            android:name=".BioPage"
            android:exported="false" />
        <activity
            android:name=".AttrPage"
            android:exported="false" />
        <activity
            android:name=".PlacePage"
            android:exported="false" />
        <activity
            android:name=".NaturePage"
            android:exported="false" />
        <activity
            android:name=".MonumentsPage"
            android:exported="false" />
        <activity
            android:name=".EstatesPage"
            android:exported="false" />
        <activity
            android:name=".TemplatesPage"
            android:exported="false" />
        <activity
            android:name=".ParksPage"
            android:exported="false" />
        <activity
            android:name=".MuseumsPage"
            android:exported="false" />
        <activity
            android:name=".MainPage"
            android:exported="true" >
            android:label="@string/title_activity_main_page"
            android:theme="@style/Theme.NIR.NoActionBar"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.GPS_PROVIDER"/>
    <uses-permission android:name="android.permission.NETWORK_PROVIDER"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

</manifest>